<!--MAIN WEBSITE FOOTER-->

<div class="light-footer mt-5 py-5 mx-2">
   <div class="container py-5">
     <div class="row py-5">
        <div class="col-4">
           <a href="https://www.flaticon.com/free-icons/graphic-design" title="graphic design icons"><img src="/images/brand.png" style="width: 70px; height:70px" alt="Viewpoint Ireland brand image"><br>
            <span style="color: rgb(0, 51, 71); font-size: 8px;">Graphic design icons created by verry purnomo - Flaticon</span></a>
            <h3 style="font-weight: 400;" class="mt-4" id="signature" alt="Signature text">Viewpoint Ireland</h3>
            <p class="lead py-3">Explore More!</p>
         </div>
         <div class="col-6 py-3"> <!--MAIN FOOTER LINKS-->
           <div class="row">
            <h1 style="font-size: 20px;" class="py-3">Quick Links</h1><hr>
         </div>
         <div class="py-3">
           <a class="px-5" href="/">Home</a>
           <a class="px-5" href="/locations">Locations</a>
           <a class="px-5" href="/locations">Login</a>
           <a class="px-5" href="/locations">Register</a>
         </div>
      </div>
      <div class="col-2"> <!--SOCIAL LINKS-->
         <h1 class="text-center pb-3" style="font-size: 20px;">Socials<span id="gradientTextTwo" style="font-size: 35px;">．</span></h1>
         <div class="col text-center">
            <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://www.instagram.com/layerlabs.io"><i class="fa-brands fa-instagram"></i></a>
            <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://github.com/TropicalXU"><i class="fa-brands fa-github"></i></a>
         </div>
      </div>
   </div>
   <div class="row text-center"> <!--WEB DESIGN AUTHOR LINK-->
      <a href="https://www.layerlabs.io"><img src="/images/layerlabs.png" style="width:20px; height:20px;" alt="Layerlabs logo image"><span class="px-1" style="font-size:10px;">Designed & Created by Layerlabs.io</span></a>
   </div>
   <hr>
   <div class="row pt-3">
      <div class="col">
         <p style="color: rgb(255, 255, 255); font-size: 10px; font-weight: bold;">© 2022 Viewpoint Ireland. All rights reserved.</p>
      </div>
      <div class="col text-end" style="font-size: 10px;"> <!--PRIVACY/TERMS OF USE LINKS-->
         <a href='/legal/privacyPolicy'>Privacy Policy</a>
         <a href="/legal/termsAndConditions">Terms of Use</a>
      </div>
   </div>
</div>
