<!DOCTYPE html>
<html lang="en">
<head>
   <!-- IMPORTANT LINKS AND META DATA FOR THE WEBSITE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewpoint Ireland</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">


    <!-- TAB ICON -->
    <link class="icon" rel="icon" href="/images/brand.png" type="image/x-icon" style="width:50px;height:50px">
</head>

<!-- MAIN BODY FOR WEBSITE -->
<body >
  <%- include('../partials/navbar') %> <!--INCLUDING NAVBAR INTO ALL PAGES USING EJS -->

    <main class="container mt-5">
     <%- include('../partials/flash') %> <!--INCLUDING SUCCESS/ERROR FLASH BOX USING EJS-->

<%- body %> <!--INDICATING WHERE EACH PAGE PARTIAL IS INSERTED USING EJS-->

    </main>
   
   
  


<%- include('../partials/footer') %> <!--INCLUDING WEBSITE FOOTER TO ALL PAGES USING EJS-->


<!--MAIN SCRIPT SOURCE LINKS FOR WEBSITE-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

<script src="/javascripts/validateForms.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>


</body>
</html>